* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* HEADER */

header {
  background-color: black;
}

menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
menu a {
  height: 2rem;
  display: block;
  margin-right: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

/* BODY */

body {
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  height: 80%;
  margin: 0 2rem;
}

section {
}

section a {
  background-color: rgb(64, 147, 224);
}

.izq {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 35%;
  margin-top: 5rem;
}

.der {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 65%;
  margin-top: 7rem;
}

.der p {
  font-size: 1.5rem;
}

.izq p {
  font-size: 8rem;
  font-weight: 900;
}

.izq a {
  font-size: 2rem;
  padding: 0.2em 1.5em;
}
