
* {
  margin: 0;
 
}

body {

/* HEADER */

header {
  background-color: black;
}

menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
  
menu a {
  height: 2rem;
  display: block;
  margin-right: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

/* BODY */

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  height: 80%;
  margin: 0 2rem;
}

section {
}

section a {
  background-color: rgb(64, 147, 224);
}

.izq {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 35%;
  margin-top: 5rem;
}

.der {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 65%;
  margin-top: 7rem;
}

.der p {
  font-size: 1.5rem;
}

.izq p {
  font-size: 8rem;
  font-weight: 900;
}

.izq a {
  font-size: 2rem;
  padding: 0.2em 1.5em;

/* generales */



/* menu */

menu {
  background-color: black;
  padding: 20px 20px 20px 20px;
  margin: 0cm;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
menu li a {
  font-weight: 600;
  text-decoration: none;
  color: white;
}

/*body*/

article {
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: center;
}
section {
  margin: 20px 10px 0px 10px;
  width: 30%;
  min-width: 300px;
}
section#perfil {
  text-align: end;
}
section#perfil img {
  border-radius: 50%;
  width: 150px;
  border: 10px black solid;
}
h1 {
  margin: 0;
  font-weight: 900;
  font-size: 6em;
}
h2 {
  margin: 0px;
  font-weight: bold;
}
p {
  margin: 0px 0px 20px 0px;
  font-weight: 300;
}
section li {
  margin: 0px 0px 20px 0px;
  font-weight: 300;
}

button a {
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

button {
  background-color: rgb(0, 134, 175);
  border: 0ch;
  padding: 5px 3em;

}
